@charset "utf-8";
      *{
        margin: 0px;
        padding: 0px;
      }
        div{
            text-align: center;
            margin: auto;
            border-radius: 15px;
            padding: 10px;
            color:aliceblue;
            padding: auto;
            max-width: 700px;
            min-width: 100px;
            text-align: justify;
            }
   
    
    body{
        background-image: url('imagem/647547.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        margin: auto;
        
        }
        
    .title{
        text-align: center;
    }
